*{
    margin: 0px;
    padding: 0px;
}
/* .completo{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 20% 70% 10%;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}
header{
    grid-area: header;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
} */
/* header */

.foto{
    width: 100%;
}
ul{
    width: 100%;
    list-style: none;
}
.menu li>a{
    background-color: #F14100;
    color: white;
    padding: 10px;
    display: inline-block; 
    text-decoration: none;
    min-width: 100px;
    font-family: 'Comic Neue', cursive; 
}
.menu li>a:hover{
    color: black;
    background-color: #eaeaea;
}
.menu>li{
    float: left;
    text-align:center
}
.conter-menu{
    background-color: #F14100;
    display: flex;
    justify-content: center;
}
.menu{
    display: grid;
    grid-column: auto auto;
    grid-template-rows: auto;
    display: flex;
    justify-content: center;
    empty-cells: inherit;
}

/* main */

main{
    background-color: #C1A471;
}
section{
    display: grid;
    grid-template-columns: 70% 30%;
}
.row{
    display: flex;
    gap: 10px;
}



/* footer */

footer{
    display: grid;
    grid-area: pie;
    background-color: #EEC281;
    grid-template-columns: auto auto;
    grid-template-rows: 100%;
    align-items: flex-end;
    
}

/* notas todos los hrml */
.nota1{
    padding-top: 10px;
    padding-bottom: 5px;
}
.notas-resto{
    padding-top: 3px;
    padding-bottom: 5px;
}
.nota-completa{
    padding-top: 60px;
}
.titulo{
    font-family: 'Bungee';
    font-weight: bolder;
}
.texto{
    font-family: 'Inconsolata', monospace;
    
}
.nota{
    display: flex;
    gap: 10px; 
}
.nota-completa a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.829);
    font-family: 'Inconsolata', monospace;
}

.publicidades2{
    margin-top: 5px;
    margin-bottom: 5px;
}

/* html quienes somos */
.quienes-somos{
    display: flex;
    justify-items: center;
    gap: 10px;
}

/* contacto */
.formulario{
    display: flex;
    justify-content: center;  
    font-family: 'Inconsolata', monospace;;
}
.titulo-contacto{
    font-family: 'Bungee';
    font-weight: bolder;
    text-align: center;
}

/* boton volver al inicio */
.boton{
    display: flex;
    justify-items: right;
    background-color: #F14100;
    color: white;
    font-family: 'Comic Neue', cursive; 
    text-decoration: none;
    border-radius: 3px;
    display: inline-block;
    
}
.boton-completo{
    text-align: right;
}

.titulos-secciones{
    font-family: 'Shadows Into Light', cursive;
}

@media only screen and (max-width:800px){
    section{
        grid-template-columns: auto;
    }
    .conter-menu{
        display: none;
    }
    
    .nota{
        display: none;
    }
    footer{
        grid-template-columns: auto auto;
    }
}